<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Blog</title>
  <style >
 .fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
  </style>
</head>
<body>
    <div class="container">
      
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
        <a class="navbar-brand" href="#"><i class="fas fa-blog fa-1x" style="color: purple;">YourBlog</i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/blogshome">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/upload">Upload</a>
            </li>
            
            
            
          </ul>
          <form class="form-inline my-2 my-lg-0">
            
            <a href ="users/logout" class="btn btn-secondary my-2 my-sm-0">Logout</button></a>
          </form>
        </div>
      </nav>
    </div>

        <h1 class="mb-4">Blog Articles</h1>
        <a href="/articles/new" class="btn btn-success">New Article</a>
    
        <% articles.forEach(article => { %>
          <div class="card mt-4">
            <div class="card-body">
              <h4 class="card-title"><%= article.title %></h4>
              <div class="card-subtitle text-muted mb-2">
                <%= article.createdAt.toLocaleDateString() %>
              </div>
              <div class="card-text mb-2"><%= article.description %></div>
              <a href="articles/<%= article.slug %>" class="btn btn-primary">Read More</a>
              <a href="articles/edit/<%= article.id %>" class="btn btn-info">Edit</a>
              <form action="/articles/<%= article.id %>?_method=DELETE" method="POST" class="d-inline">
                <button type="submit" class="btn btn-danger">Delete</button>
              </form>  
            </div>
            </div>
              <% }) %>
            </div>
</body>
</html>